/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	width : 100vw;
	padding: 0 10px;
}
.item{
	width: 100px;
	height: 100px;
	background-color: red;
}